/* Header CSS*/

/*        ------------------
         | NON-MOBILE DEVS |
         -------------------
*/

.mainDiv {
  backgroundColor: 'black';
  filter: alpha(opacity=0);
  padding-bottom: auto;
}

#tags{
  font-size: 21px;
  padding-left: 46vw;
  margin-top: 1.5vw;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#mobileDrop {
  align: right;
  padding-left: 5px;

}

.github:hover {
  filter: brightness(0) invert(0.6);
  text-decoration: none;
}

.linked:hover {
  filter: brightness(0) invert(0.6);
}


.codepen:hover {
  filter: brightness(0) invert(0.6);
}
#GitLogo {
  width: 2.4vw;
  height: 2.4vw;
  border-radius: 50%;
  margin-left: -3.2vw;
  margin-bottom: 1vw;
  margin-top: -0.1vw;
  text-decoration: none;
  filter: brightness(0) invert(0);
  opacity: 0;
  display: flex;,
  flex-direction: column;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}


#GitLogo:hover {
  filter: brightness(0) invert(0.6);
}


#linkedLogo {
  width: 4.3vw;
  height: 4.3vw;
  border-radius: 10px;
  margin-left: 1.7vw;
  color: transparent;
  display: flex;,
  flex-direction: column;
  text-decoration: none;
  margin-top: -0.99vw;
  filter: brightness(0%) invert(0);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

#linkedLogo:hover {
  filter: brightness(0) invert(0.6);
  color: black;
  text-decoration: none;

}

#codepen {
  width: 2.7vw;
  height: 2.7vw;
  border-radius: 10px;
  margin-bottom: 0.4vw;
  display: flex;
  margin-left: 2vw;
  margin-right: -3vw;
  flex-direction: column;
  margin-top: 0.25vw;
  filter: brightness(0%) invert(0);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

#codepen:hover {
  filter: brightness(0) invert(0.6);
}


@keyframes jumpin {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }
    100% {
        opacity: 1;
        transform: translateY(-300);
    }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


/*        ------------------
         | MOBILE DEVS |
         -------------------
*/

.mainDivM {
  backgroundColor: 'black';
  opacity: 0.9;
  filter: alpha(opacity=0);
  padding-bottom: auto;
}

#mobileDropM {
  padding-left: 5px;

}
#tagsM {
  display: flex;
  margin-left: 29vw;
  padding-top: 2vw;
  flex-direction: row;
  align-items: center;
}

.githubM:hover {
  filter: brightness(0) invert(0.6);
  text-decoration: none;
}

.linkedM:hover {
  filter: brightness(0) invert(0.6);
}

.codepenM:hover {
  filter: brightness(0) invert(0.6);
}

#GitLogoM {
  width: 7.3vw;
  height: 7.3vw;
  border-radius: 50%;
  margin-left: -3.2vw;
  margin-bottom: 1vw;
  margin-top: -0.1vw;
  text-decoration: none;
  filter: brightness(0) invert(0);
  opacity: 0;
  display: flex;,
  flex-direction: column;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}


#GitLogoM:hover {
  filter: brightness(0) invert(0.6);
}

#linkedLogoM {
  width: 13.3vw;
  height: 13.3vw;
  border-radius: 10px;
  margin-left: 2vw;
  color: transparent;
  display: flex;,
  flex-direction: column;
  text-decoration: none;
  margin-top: -0.99vw;
  filter: brightness(0%) invert(0);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

#linkedLogoM:hover {
  filter: brightness(0) invert(0.6);
  color: black;
  text-decoration: none;
}

#codepenM {
  width: 8.3vw;
  height: 8.3vw;
  border-radius: 10px;
  margin-bottom: 0.4vw;
  display: flex;
  margin-left: 4vw;
  margin-right: -3vw;
  flex-direction: column;
  margin-top: 0.85vw;
  filter: brightness(0%) invert(0);
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  transition-delay: 1s;
}

#codepenM:hover {
  filter: brightness(0) invert(0.6);
}

@keyframes jumpinM {
    0% {
        opacity: 0;
        transform: translateY(-100);
    }
    100% {
        opacity: 1;
        transform: translateY(-300);
    }
}

@keyframes rotateM {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
