body {
  clear: both;
}

#header {
  /* position: absolute; */
  min-width: 800px;
  /* top: 0; right: 0; bottom: 0;, left: 0; */
  /* left: 70vw; */
  position: fixed;
  z-index: 3;
}

#typing {
  /* position: absolute; */
  left: 0; right: 0; bottom: 0;

  /* padding: 3px 8px; */
  z-index: 0;
}

#main {
  position: relative;
  /* padding: 10px; */
  z-index: 1;

}
