@font-face {
font-family: "DinRegular";
src: url("./fonts/DIN-Regular.ttf");
src:
url("./fonts/DIN-Regular.ttf") format("woff"),
url("./fonts/DIN-Regular.ttf") format("opentype"),
url("./fonts/DIN-Regular.ttf#filename") format("svg");
}

body {
  background-color: #e8efef;
  margin: 0;
  padding: 0;
}
